@charset "UTF-8";
/*
==================================================
Table of Content
1. Variables
2. Body and global styles
3. Main wrapper style
4. Navi section style
5. Main section style
6. Footer Section style
7. Rejestracja.php styles
8. Ekran przeglądania ofert webinarów styles
9. Panel edycji po zalogowaniu
10.Panel dodawania webinarów
===================================================
*/
.cbalink {
  display: none !important;
}

body {
  text-decoration: none;
  height: 100vh;
  background-color: #1b1c21;
  color: #969aa3;
  font-family: 'Roboto', sans-serif;
}

button,
.button,
.buttonReje {
  background-color: #1c70ff;
  color: white;
  border: transparent;
  padding: 0.2vw 2vw 0.2vw 2vw;
  border-radius: 15px;
  font-size: 17px;
  -webkit-transition: all .45s;
  transition: all .45s;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(77, 142, 255, 0.35);
          box-shadow: 0px 0px 8px 0px rgba(77, 142, 255, 0.35);
}

button:hover,
.button:hover,
.buttonReje:hover {
  background-color: #4d8eff;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 0.1vw solid #25262b;
  width: 100%;
}

h1 {
  font-size: 30px;
  color: white;
}

table {
  border: none;
  text-align: center;
  font-size: 22px;
  color: white;
}

td {
  text-align: center;
  width: 20%;
  height: 4vh;
}

.sectionsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10vh;
}

.sectionsWrap .buttonBack {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 0.1vw solid #25262b;
}

.navi img {
  height: 8vw;
  width: 8vw;
}

.navi h1 {
  color: white;
}

.main {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main .recaptchaForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25262b;
  border: 10px solid #25262b;
  border-radius: 10%;
  padding: 0 3vw 3vw 3vw;
  gap: 20px;
}

.main .recaptchaForm .textInput {
  border: 0;
  border-bottom: 1.5px solid #1b1c21;
  padding: 10px 10px;
  font-size: 1.1vw;
  -webkit-transition: all .35s;
  transition: all .35s;
  background-color: #25262b;
  color: white;
}

.main .recaptchaForm .textInput:focus {
  outline: 0;
  border-bottom: 2px solid #1c70ff;
}

.main .recaptchaForm .submitButton {
  padding: 1.5vw 5.5vw 1.5vw 5.5vw;
  margin-top: 8%;
  pointer-events: painted;
}

.footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formReje {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25262b;
  border: 10px solid #25262b;
  border-radius: 10%;
  padding: 0 3vw 3vw 3vw;
  gap: 10px;
}

.formReje .textInput {
  border: 0;
  border-bottom: 1.5px solid #1b1c21;
  padding: 10px 10px;
  font-size: 1.1vw;
  -webkit-transition: all .35s;
  transition: all .35s;
  background-color: #25262b;
  color: white;
}

.formReje .textInput:focus {
  outline: 0;
  border-bottom: 2px solid #1c70ff;
}

.formReje .submitButton {
  padding: 1.5vw 5.5vw 1.5vw 5.5vw;
  margin-top: 8%;
  pointer-events: painted;
}

.formReje .buttonReje {
  padding: 1.2vw;
  width: 100%;
}

.mainGuestBrowseContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.mainWrapperMainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainWrapperMainMenu .buttonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addForm {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25262b;
  border: 10px solid #25262b;
  border-radius: 10%;
  padding: 2vw 6vw;
  gap: 10px;
}

.addForm .textInput {
  border: 0;
  border-bottom: 1.5px solid #1b1c21;
  padding: 10px 10px;
  font-size: 1.1vw;
  -webkit-transition: all .35s;
  transition: all .35s;
  background-color: #25262b;
  color: white;
}

.addForm .textInput:focus {
  outline: 0;
  border-bottom: 2px solid #1c70ff;
}

.addForm .buttonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 2vw;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.addForm .buttonMenu > * {
  padding: 1.5vw 5.5vw 1.5vw 5.5vw;
}

.dodawanieWrap {
  gap: 10px;
}

.dodawanieWrap h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dodawanieWrap a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dodawanieWrap a button {
  padding: 0.5vw 5.5vw 0.5vw 5.5vw;
}

.usunPhpWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
}

.usunPhpWrap .usunPhpForm {
  gap: 50px;
}

.tabBold {
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */